main section
{
    font-size: 2vw;
    text-align: center;
    margin: 25px;
}
form fieldset
{
    position: relative;
    width: 85%;
    height: 600px;
    border-radius: 10px;
    padding: 25px;
    left: 50%;
    transform: translate(-50%);
}
.linha1
{
    width: 50%;
    background-color: lightcoral;
}