:root
{
    --azul_lvl_1: #627FD9;
    --azul_lvl_2: #1F4CD1;
    --azul_lvl_3: #183A9E;
    --azul_lvl_4: #0C1E52;
    --azul_lvl_5: #253052;
}

*
{
    margin: 0;
    padding: 0;
}

nav
{
    width: 100%;
    height: 100px;
}
nav a
{
    
}

main > section
{
    background-color: black;
}
main > section .centro
{
    background-color: var(--azul_lvl_2);
}